$font: 			'Roboto Condensed', sans-serif;
$fontHeader:	'Raleway', sans-serif;
$fontCode:		'Courier New', monospace;

$colorBg: 		#F5F5F5;
$colorPostBg:	#FFF;
$colorAlt1:		#BEBEBE;
$colorAlt2:		#90b0ba;
$colorFg: 		#333;

$border: 		1px dashed $colorAlt1;
$borderRadius: 	3px;